.myStuff {
  width: 30px;
  
  background: white;
  box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.25);

  border-radius: 0 8px 8px 0;

  overflow: hidden;
}

.myStuff.expanded {
  width: max-content;
}

.expandedContent {
  display: flex;
  align-items: stretch;
  gap: 7px;
}

.exandedStuff {
  padding: 7px 14px;
}

.filesList {
  margin-bottom: 8px;

  max-height: 60svh;
  overflow-y: scroll;
}

.collapseMe {
  width: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
  &:hover {
    background: hsla(0, 0%, 90%, 1);
  }
}

.expandMe {
  height: 160px;
  cursor: pointer;

  display: grid;
  place-items: center;
  color: black;

  &:hover {
    background: hsla(0, 0%, 90%, 1);
  }
}

.upload {
  display: grid;
  place-items: center;

  border-radius: 8px;
  border: 3px dashed hsla(20, 40%, 50%, 1);

  height: 60px;
  background: rgb(223, 201, 187);

  cursor: pointer;
}
