.searchResults {
  background-color: hsla(0, 0%, 79%, 0.6);;
  backdrop-filter: blur(10px);

  border-radius: 0px 0px 7px 7px;

  padding: 0 14px;

  max-width: 300px;
  margin-left: auto;
  margin-right: 130px;

  max-height: 300px;
  overflow-y: auto;
}

.result {
  padding: 8px 16px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background: hsla(0, 0%, 90%, 1)
  }
}

.result.selected {
  background: hsla(0, 0%, 90%, 1)
}

.result:not(:last-of-type) {
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.result .code {
  color: hsl(0, 0%, 40%);
  font-size: 0.875rem;
}