.routeSummary {
  position: relative;

  background: white;
  padding: 30px 40px;

  min-width: 230px;
  margin-top: 8px;
  margin-left: 8px;

  box-shadow: 3px 3px 17px 1px rgba(0,0,0,0.25);
}

.routeLength {
  display: flex;
  gap: 12px;

  align-items: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 0;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background: transparent;
  border: none;
  padding-right: 8px;
  outline-offset: 4px;
  cursor: pointer;
}